.card-body {
  position: absolute;
}

.card-title {
  background: rgb(52,58,64);
  border-radius: 21px;
  color: rgb(255,255,255);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: -21px;
  opacity: 0.4;
}

.card-title:hover {
  opacity: 0.9;
}

.card-img-top {
  border-radius: 24px;
  object-fit: cover;
}

